[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygit2 = "*"
python-dateutil = "*"
pyyaml = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-profiling = "*"
pytest-spec = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest"
